{% extends 'AppBundle::base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
	<!-- Simple text rotator -->
	<link href="{{ asset('css/simpletextrotator.css') }}" rel="stylesheet">
	<link href="{{ asset('css/owl.carousel.min.css') }}" rel="stylesheet">
	<link href="{{ asset('css/owl.theme.default.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<!-- Intro start -->
	<section id="intro" class="parallax" parallax-speed="2">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12">
					<h1 class="white">Johan Dierinck</h1>
					<h3 class="white"><span class="rotate">PHP developer, Drupal aficionado, Symfony certified</span></h3>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro end -->

	<!-- Navigation start -->
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand"><strong>Johan Dierinck</strong></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="#intro">{% trans %}Home{% endtrans %}</a></li>
					<li><a href="#profile">{% trans %}Profiel{% endtrans %}</a></li>
					<li><a href="#services">{% trans %}Diensten{% endtrans %}</a></li>
					<li><a href="#training">{% trans %}Opleiding{% endtrans %}</a></li>
					<li><a href="#projects">{% trans %}Projecten{% endtrans %}</a></li>
					<li><a href="#contact">{% trans %}Contact{% endtrans %}</a></li>
				</ul>
<!-- 				<ul class="nav navbar-nav navbar-right">
					<li {% if app.request.getLocale() == 'nl' %}class="lang-active"{% endif %}><a href="/nl">NL</a></li>
					<li {% if app.request.getLocale() == 'en' %}class="lang-active"{% endif %}><a href="/en">EN</a></li>
					<li {% if app.request.getLocale() == 'fr' %}class="lang-active"{% endif %}><a href="/fr">FR</a></li>
				</ul> -->
			</div>
		</div>
	</nav>
	<!-- Navigation end -->

	<!-- Profile start -->
	<section id="profile">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline">
					<h2>Johan Dierinck</h2>
					<p>PHP developer. Drupal aficionado. Symfony certified.</p>
				</div>
				<div class="col-md-3 hidden-sm hidden-xs">
					<img src="{{ asset('images/IMG_1350.jpg') }}" class="img-responsive img-circle" style="margin-bottom: 20px">
					<!-- <p class= "small" style="font-style: italic;">INTJ. Autodidact. Beoefent aikido. Houdt van koken, Japanse tuinen, en goed bier.</p> -->
				</div>
				<div class="col-md-6 col-sm-6 margin">
					<h3>Profiel</h3>
					<p>Mijn naam is Johan Dierinck, ik ben freelance web developer gevestigd in België. Mijn voornaamste expertise bestaat in het ontwikkelen van websites en web applicaties in PHP, voornamelijk op basis van het Symfony framework en content management systemen of frameworks die er gebruik van maken, zoals bijvoorbeeld Drupal.</p>
					<p>De snel evoluerende wereld van web development is de perfecte plaats om mijn aangeboren leergierigheid bot te vieren. Op de hoogte blijven van nieuwe praktijken en ontwikkelingen, je skillset uitbreiden, nieuwe tools en frameworks leren gebruiken... mijn dag is pas goed als ik iets nieuws geleerd heb.</p>
					<p>Ik werk enkel met betrouwbare en open technologieën die de standaard zijn in de industrie en goede coding praktijken omarmen. Zo kunt u er zeker van zijn dat uw website of applicatie snel en stabiel werkt en ook in de toekomst makkelijk uitgebreid en onderhouden kan worden.</p>
					<br>
					<p><a href="{{ asset('documents/CVJDierinck.pdf') }}" class="btn btn-primary btn-md" onclick="ga('send', 'event', 'CV', 'download');"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;{% trans %}Download mijn CV{% endtrans %}</a></p>
				</div>
				<div class="col-md-3 col-sm-6">
				{% set expertise = {
								'PHP': 90,
								'MySQL': 80,
								'Symfony': 85,
								'Drupal': 85,
								'Javascript & jQuery': 75
					 } %}
					<h3>Expertise</h3>
					<div id="expertise-preview">
					 {% for key, value in expertise|slice(0, 5) %}
						<h6 class="progress-title">{{ key }}</h6>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ value }}%">
								<span>{{ value }}%</span>
							</div>
						</div>
					 {% endfor %}
					</div>
					<button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal" onclick="ga('send', 'event', 'expertise', 'view');">Volledig overzicht</button>
					<!-- Modal -->
					<div id="myModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4 class="modal-title">Mijn expertise</h4>
					      </div>
					      <div class="modal-body">
					      	<h4>Back-end development</h4>
									<ul>
										<li>PHP</li>
										<li>PHP frameworks: Symfony</li>
										<li>Templating: Twig</li>
										<li>SQL: MySQL</li>
										<li>ORM: Doctrine</li>
										<li>Testing: PHPUnit</li>
										<li>Versioning: Git</li>
										<li>Content management frameworks: Symfony CMF, Drupal</li>
										<li>Dependency management: Composer</li>
										<li>Virtualisation: Vagrant, Docker</li>
									</ul>
									<h4>Front-end</h4>
									<ul>
										<li>HTML5</li>
										<li>CSS3</li>
										<li>Javascript: vanilla Javascript, Typescript, jQuery, Ajax,  Angular JS</li>
										<li>Frameworks: Bootstrap</li>
										<li>SEO</li>
										<li>Dependency management: NPM, Bower</li>
									</ul>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Sluit</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- end Modal -->
				</div> <!-- /col-md-3 -->
			</div> <!-- /row -->
		</div> <!-- /container -->
	</section>
	<!-- Profile end -->

	<!-- Services section start -->
	<section id ="services" class="bg-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline">
					<h2>Diensten</h2>
					<p>Wat kan ik voor u doen?</p>
				</div>
				<div class="col-md-12">
					<div class="row">
<!-- 						<div class="col-md-3 col-sm-6">
							<div class="service">
								<div class="icon">
									<i class="fa fa-lightbulb-o"></i>
								</div>
								<h4 class="underline">{% trans %}Concept{% endtrans %}</h4>
								<ul class="list-unstyled">
									<li>{% trans %}technische vereisten{% endtrans %}</li>
									<li>{% trans %}scenario's & wireframes{% endtrans %}</li>
									<li>{% trans %}planning & scope{% endtrans %}</li>
								</ul>
							</div>
						</div> -->
						<div class="col-sm-4">
							<div class="service">
								<div class="icon">
									<i class="fa fa-code"></i>
								</div>
								<h4 class="underline">{% trans %}Ontwikkeling{% endtrans %}</h4>
								<ul class="list-unstyled">
									<li>{% trans %}dynamische sites en applicaties (PHP){% endtrans %}</li>
									<li>{% trans %}opzetten van content management systemen (CMS){% endtrans %}</li>
									<li>{% trans %}ontwikkeling van modules voor CMS-systemen{% endtrans %}</li>
									<li>{% trans %}responsive layouts{% endtrans %}</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="service">
								<div class="icon">
									<i class="fa fa-upload"></i>
								</div>
								<h4 class="underline">{% trans %}Deployment{% endtrans %}</h4>
								<ul class="list-unstyled">
									<li>{% trans %}hosting{% endtrans %}</li>
									<li>{% trans %}registratie van domeinnamen{% endtrans %}</li>
									<li>{% trans %}configuratie van DNS-instellingen{% endtrans %}</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="service">
								<div class="icon">
									<i class="fa fa-life-ring"></i>
								</div>
								<h4 class="underline">{% trans %}Support{% endtrans %}</h4>
								<ul class="list-unstyled">
									<li>{% trans %}ondersteuning van gebruikers{% endtrans %}</li>
									<li>{% trans %}updates van bestaande websites{% endtrans %}</li>
									<li>{% trans %}troubleshooting{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</div> <!-- /col-md-12 -->
			</div> <!-- /row -->
		</div> <!-- /container -->
	</section>
	<!-- Services section end -->

	<!-- Training section start -->
	<section id="training" class="white">
		<div class="container">
<!-- 			<div class="row">
				<div class="col-md-12 headline">
					<h2>Wat kan ik voor u doen</h2>
					<p>Mijn diensten</p>
				</div>
			</div> -->
			<div class="row">
				<div class="col-md-6 margin">
				<h3>Certificaten</h3>
					<ul class="list-unstyled">
						<li>Symfony Certified Developer (Sensiolabs) · augustus 2016</li>
						<li>Certified jQuery developer (W3Schools) · maart 2014</li>
						<li>Certified JavaScript developer (W3Schools) · maart 2014</li>
						<li>Certified PHP developer (W3Schools) · maart 2014</li>
					</ul>
				</div>
				<div class="col-md-6">
				<h3>Opleidingen</h3>
				<ul class="list-unstyled">
					<li>PHP advanced (Syntra AB) · mei - juni 2015</li>
					<li>Drupal developer (Syntra AB) · oktober 2013 - juni 2014</li>
					<li>HTML5, CSS3 & the responsive web (Syntra West) · oktober 2013</li>
					<li>Drupal advanced: fields & views (Syntra AB) · april 2013</li>
				</ul>
				</div>
			</div> <!-- /row -->
		</div> <!-- /container -->
		<div class="dark-mask"></div>
	</section>
	<!-- Training section end -->

<!-- Project section start -->
<section id="projects" class="bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12 headline">
        <h2>Projecten</h2>
        <p>Enkele voorbeeldprojecten</p>
      </div>
      <div class="col-md-12">
        <div class="row">
					<div id="portfolio-item-carousel" class="owl-carousel owl-theme">

						<div class="portfolio-item" onclick="ga('send', 'event', 'portfolio-item4', 'view', 'Portfolio');">
							<img src="images/citysites/citysites.png" class="img-responsive">
							<div class="portfolio-item-description">
								<h4>City Sites</h4>
								<h5>2019</h5>
								<div class="portfolio-item-description-detail" style="display: none;" data-tags="Drupal 8 Install profiles Module & theme development Migrate API MySQL">
									<div id="portfolio-item-description-detail-carousel" class="owl-carousel owl-theme">
										<div class="item">
											<img src="images/citysites/citysites00001.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/citysites/citysites00002.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/citysites/citysites00003.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/citysites/citysites00004.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/citysites/citysites00005.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/citysites/citysites00006.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/citysites/citysites00007.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/citysites/citysites00008.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/citysites/citysites00009.png" class="img-responsive">
										</div>
									</div>
									<p class="small">Voor Flow Pilots (Antwerpen) ontwikkelde ik een platform voor Vlaamse gemeentelijke overheden op basis van Drupal 8. Het CMS staat in voor het beheer van diensten en de producten (dienstverleningen) die gemeentebesturen aanbieden, raden en hun samenstelling, zittingen, agenda en beslissingen, en daarnaast ook vacatures en nieuws.</p>
									<p>
										<i class="fa fa-fw fa-globe" aria-hidden="true"></i>&nbsp;<a href="http://demo.citysites.app" target="_blank">http://demo.citysites.app</a>
									</p>
								</div>
							</div>
						</div>

						<div class="portfolio-item" onclick="ga('send', 'event', 'portfolio-item5', 'view', 'Portfolio');">
							<img src="images/ama/ama.png" class="img-responsive">
							<div class="portfolio-item-description">
								<h4>CMS Antwerp Museum App</h4>
								<h5>2019</h5>
								<div class="portfolio-item-description-detail" style="display: none;" data-tags="Drupal 8 Install profiles Module & theme development Migrate API MySQL">
									<div id="portfolio-item-description-detail-carousel" class="owl-carousel owl-theme">
										<div class="item">
											<img src="images/ama/ama00001.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/ama/ama00002.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/ama/ama00003.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/ama/ama00004.png" class="img-responsive">
										</div>
									</div>
									<p class="small">Voor Flow Pilots (Antwerpen) onderhield en verbeterde ik het CMS dat als backend fungeert voor de Antwerp Museum App. Het gaat om een 'headless' Drupal CMS dat instaat voor het beheer van musea, POI’s en tours, die via een custom JSON API aan de app aangeleverd worden.</p>
									<p>
										<i class="fa fa-fw fa-globe" aria-hidden="true"></i>&nbsp;<a href="http://antwerpmuseumapp.com" target="_blank">http://antwerpmuseumapp.com</a>
									</p>
								</div>
							</div>
						</div>

						<div class="portfolio-item" onclick="ga('send', 'event', 'portfolio-item1', 'view', 'Portfolio');">
							<img src="images/mealplanner/Mealplanner_home.png" class="img-responsive">
							<div class="portfolio-item-description">
								<h4>Mealplanner</h4>
								<h5>2017</h5>
								<div class="portfolio-item-description-detail" style="display: none;" data-tags="Symfony Twig Doctrine Javascript jQuery Bootstrap Ajax MySQL">
									<div id="portfolio-item-description-detail-carousel" class="owl-carousel owl-theme">
										<div class="item">
											<img src="images/mealplanner/Mealplanner_home.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/mealplanner/Kookboek01.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/mealplanner/Kookboek.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/mealplanner/Menu.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/mealplanner/Boodschappenlijst.png" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/mealplanner/Menu03.png" class="img-responsive">
										</div>
									</div>
									<p class="small">Een webapplicatie op basis van het Symfony framework die gebruikers in staat stelt al hun recepten op een centrale plaats te beheren, recepten te importeren van tientallen — ook Nederlandstalige — sites, herbruikbare menu's aan te maken, en op basis van deze menu's boodschappenlijst te genereren, gerangschikt volgens afdeling.</p>
									<p>
										<i class="fa fa-fw fa-globe" aria-hidden="true"></i>&nbsp;<a href="http://www.jdierinck.be/mealplanner" target="_blank">http://www.jdierinck.be/mealplanner</a>
										<br>
										<i class="fa fa-fw fa-github" aria-hidden="true"></i>&nbsp;<a href="https://github.com/jdierinck/mealplanner" target="_blank">Broncode</a>
									</p>
								</div>
							</div>
						</div>

						<div class="portfolio-item" onclick="ga('send', 'event', 'portfolio-item2', 'view', 'Portfolio');">
							<img src="images/intranet/Intranet-home.jpg" class="img-responsive">
							<div class="portfolio-item-description">
								<h4>Intranet</h4>
								<h5>2012-2017</h4>
								<div class="portfolio-item-description-detail" style="display: none;" data-tags="Drupal7 MySQL">
									<div id="portfolio-item-description-detail-carousel" class="owl-carousel owl-theme">
										<div class="item">
											<img src="images/intranet/Intranet-nieuws.jpg" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/intranet/Intranet-create-dp.jpg" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/intranet/Intranet-dp-bijlage-reacties.jpg" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/intranet/Intranet-kalender.jpg" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/intranet/Intranet-documenten.jpg" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/intranet/Intranet-create-docp.jpg" class="img-responsive">
										</div>
										<div class="item">
											<img src="images/intranet/Intranet-create-docp2.jpg" class="img-responsive">
										</div>
									</div>
									<p class="small">Een intranet voor de personeelsleden van het gemeentebestuur van Wemmel, oorspronkelijk gelanceerd in 2012 op basis van Open Atrium 1, een zogenaamde 'distributie' van Drupal met als doel samenwerking en communicatie in teams te bevorderen. In 2015 werd de site geüpgraded naar Open Atrium 2 en alle content gemigreerd. Een volgende update naar versie 2.60 begin 2016 heeft de gebruikerservaring aanzienlijk verbeterd. Medio 2016 werd de nieuwe huisstijl op de site toegepast.</p>
									<p>
										<i class="fa fa-fw fa-globe" aria-hidden="true"></i>&nbsp;<a href="http://intranet.wemmel.be" target="_blank">http://intranet.wemmel.be</a>
									</p>
								</div>
							</div>
						</div>

						<div class="portfolio-item" onclick="ga('send', 'event', 'portfolio-item3', 'view', 'Portfolio');">
							<img src="images/youthtube/YouthTube.jpg" class="img-responsive">
							<div class="portfolio-item-description">
								<h4>YouthTube</h4>
								<h5>2013-2016</h5>
								<div class="portfolio-item-description-detail" style="display: none;" data-tags="Symfony Twig Bootstrap MySQL">
									<div id="portfolio-item-description-detail-carousel" class="owl-carousel owl-theme">
										<div class="item" style="max-height: 400px;">
											<img src="images/youthtube/YouthTube-home.jpg" class="img-responsive">
										</div>
										<div class="item" style="max-height: 400px;">
											<img src="images/youthtube/YouthTube.jpg" class="img-responsive">
										</div>
										<div class="item" style="max-height: 400px;">
											<img src="images/youthtube/YouthTube-activiteit.jpg" class="img-responsive">
										</div>
										<div class="item" style="max-height: 400px;">
											<img src="images/youthtube/YouthTube-edit.jpg" class="img-responsive">
										</div>
									</div>
									<p class="small">Een  tweetalige website voor de promotie van de Wemmelse Jongerendag, oorspronkelijk gelanceerd in 2013 en 'herbruikt' voor de edities van 2014, 2015 en 2016. In 2016 werd de site herwerkt binnen het Symfony framework en werd het design responsive gemaakt. Tevens werd de mogelijkheid voorzien voor de beheerders van de site zelf de content aan te passen.</p>
									<p>
										<i class="fa fa-fw fa-globe" aria-hidden="true"></i>&nbsp;<a href="http://youthtube.wemmel.be" target="_blank">http://youthtube.wemmel.be</a>
										<br>
										<i class="fa fa-fw fa-github" aria-hidden="true"></i>&nbsp;<a href="https://github.com/jdierinck/youthtube" target="_blank">Broncode</a>
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</section><!-- Projects section end -->



	{# <!-- Projects section start -->
	<section id="projects" class="bg-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline">
					<h2>Projecten</h2>
					<p>Enkele voorbeeldprojecten</p>
				</div>
				<div class="col-md-12">
					<div class="row">

						<div class="col-sm-4">
							<div class="portfolio-item" onclick="ga('send', 'event', 'portfolio-item1', 'view', 'Portfolio');">
								<div class="portfolio-item-preview">
									<img src="images/citysites/citysites.png" class="img-responsive">
								</div>
								<div class="portfolio-item-description">
									<h4>City Sites</h4>
									<h5>2018</h5>
									<div class="portfolio-item-description-detail" style="display: none;" data-tags="Drupal 8 Install profiles Module & theme development Migrate API MySQL">
										<div id="portfolio-item-description-detail-carousel" class="owl-carousel owl-theme">
											<div class="item">
												<img src="images/citysites/citysites00001.png" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/citysites/citysites00002.png" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/citysites/citysites00003.png" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/citysites/citysites00004.png" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/citysites/citysites00005.png" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/citysites/citysites00006.png" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/citysites/citysites00007.png" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/citysites/citysites00008.png" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/citysites/citysites00009.png" class="img-responsive">
											</div>
										</div>
										<p class="small">Een platform ontworpen voor Vlaamse gemeentelijke overheden op basis van Drupal 8. Het CMS staat in voor het beheer van diensten en de producten (dienstverleningen) die gemeentebesturen aanbieden, raden en hun samenstelling, zittingen, agenda en beslissingen, en daarnaast ook vacatures en nieuws.</p>
										<p>
											<i class="fa fa-fw fa-globe" aria-hidden="true"></i>&nbsp;<a href="http://demo.citysites.app" target="_blank">http://demo.citysites.app</a>
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="portfolio-item" onclick="ga('send', 'event', 'portfolio-item1', 'view', 'Portfolio');">
								<div class="portfolio-item-preview">
									<img src="images/mealplanner/Mealplanner_home.png" class="img-responsive">
								</div>
								<div class="portfolio-item-description">
									<h4>Mealplanner</h4>
									<h5>2017</h5>
									<div class="portfolio-item-description-detail" style="display: none;" data-tags="Symfony Twig Doctrine Javascript jQuery Bootstrap Ajax MySQL">
										<div id="portfolio-item-description-detail-carousel" class="owl-carousel owl-theme">
											<div class="item">
												<img src="images/mealplanner/Mealplanner.jpg" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/mealplanner/Boodschappenlijst.jpg" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/mealplanner/Kalender.jpg" class="img-responsive">
											</div>
										</div>
										<p class="small">Een webapplicatie op basis van het Symfony framework die gebruikers in staat stelt al hun recepten op een centrale plaats te beheren, recepten te importeren van tientallen — ook Nederlandstalige — sites, herbruikbare menu's aan te maken, en op basis van deze menu's boodschappenlijst te genereren, gerangschikt volgens afdeling.</p>
										<p><i class="fa fa-fw fa-globe" aria-hidden="true"></i>&nbsp;<a href="http://www.jdierinck.be/mealplanner" target="_blank">http://www.jdierinck.be/mealplanner</a>
										<br>
										<i class="fa fa-fw fa-github" aria-hidden="true"></i>&nbsp;<a href="https://github.com/jdierinck/mealplanner" target="_blank">Broncode</a>
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="portfolio-item" onclick="ga('send', 'event', 'portfolio-item2', 'view', 'Portfolio');">
								<div class="portfolio-item-preview">
									<img src="images/intranet/Intranet-home.jpg" class="img-responsive">
								</div>
								<div class="portfolio-item-description">
									<h4>Intranet</h4>
									<h5>2012-2017</h4>
									<div class="portfolio-item-description-detail" style="display: none;" data-tags="Drupal7 MySQL">
										<div id="portfolio-item-description-detail-carousel" class="owl-carousel owl-theme">
											<div class="item">
												<img src="images/intranet/Intranet-nieuws.jpg" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/intranet/Intranet-create-dp.jpg" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/intranet/Intranet-dp-bijlage-reacties.jpg" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/intranet/Intranet-kalender.jpg" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/intranet/Intranet-documenten.jpg" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/intranet/Intranet-create-docp.jpg" class="img-responsive">
											</div>
											<div class="item">
												<img src="images/intranet/Intranet-create-docp2.jpg" class="img-responsive">
											</div>
										</div>
										<p class="small">Een intranet voor de personeelsleden van het gemeentebestuur van Wemmel, oorspronkelijk gelanceerd in 2012 op basis van Open Atrium 1, een zogenaamde 'distributie' van Drupal met als doel samenwerking en communicatie in teams te bevorderen. In 2015 werd de site geüpgraded naar Open Atrium 2 en alle content gemigreerd. Een volgende update naar versie 2.60 begin 2016 heeft de gebruikerservaring aanzienlijk verbeterd. Medio 2016 werd de nieuwe huisstijl op de site toegepast.</p>
										<p><i class="fa fa-fw fa-globe" aria-hidden="true"></i>&nbsp;<a href="http://intranet.wemmel.be" target="_blank">http://intranet.wemmel.be</a></p>
									</div>
								</div>
							</div>
						</div>
<!--
						<div class="col-md-3 col-sm-6">
							<div class="portfolio-item">
								<div class="portfolio-item-preview">
									<img src="images/extranet.jpg" class="img-responsive">
								</div>
								<div class="portfolio-item-description">
									<h4>Extranet</h4>
									<h5>2013-heden</h5>
									<div class="portfolio-item-description-detail" style="display: none;">
										<p class="small">Een extranet voor de leden van de gemeenteraad van de gemeente Wemmel gelanceerd in 2013 op hetzelfde platform als het intranet (Open Atrium). Met behulp van Solr werd het mogelijk gemaakt om binnen documenten naar bepaalde termen te zoeken. In 2015 ging ook het OCMW gebruik maken van het extranet.</p>
										<p><a href="http://extranet.wemmel.be" target="_blank">URL: http://extranet.wemmel.be</a></p>
									</div>
								</div>
							</div>
						</div>	 -->

						<div class="col-sm-4">
							<div class="portfolio-item" onclick="ga('send', 'event', 'portfolio-item3', 'view', 'Portfolio');">
								<div class="portfolio-item-preview">
									<img src="images/youthtube/YouthTube.jpg" class="img-responsive">
								</div>
								<div class="portfolio-item-description">
									<h4>YouthTube</h4>
									<h5>2013-2016</h5>
									<div class="portfolio-item-description-detail" style="display: none;" data-tags="Symfony Twig Bootstrap MySQL">
										<div id="portfolio-item-description-detail-carousel" class="owl-carousel owl-theme">
											<div class="item" style="max-height: 400px;">
												<img src="images/youthtube/YouthTube-home.jpg" class="img-responsive">
											</div>
											<div class="item" style="max-height: 400px;">
												<img src="images/youthtube/YouthTube.jpg" class="img-responsive">
											</div>
											<div class="item" style="max-height: 400px;">
												<img src="images/youthtube/YouthTube-activiteit.jpg" class="img-responsive">
											</div>
											<div class="item" style="max-height: 400px;">
												<img src="images/youthtube/YouthTube-edit.jpg" class="img-responsive">
											</div>
										</div>
										<p class="small">Een  tweetalige website voor de promotie van de Wemmelse Jongerendag, oorspronkelijk gelanceerd in 2013 en 'herbruikt' voor de edities van 2014, 2015 en 2016. In 2016 werd de site herwerkt binnen het Symfony framework en werd het design responsive gemaakt. Tevens werd de mogelijkheid voorzien voor de beheerders van de site zelf de content aan te passen.</p>
										<p><i class="fa fa-fw fa-globe" aria-hidden="true"></i>&nbsp;<a href="http://youthtube.wemmel.be" target="_blank">http://youthtube.wemmel.be</a>
										<br>
										<i class="fa fa-fw fa-github" aria-hidden="true"></i>&nbsp;<a href="https://github.com/jdierinck/youthtube" target="_blank">Broncode</a>
										</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div> <!-- /row -->
		</div> <!-- /container -->
	</section>
	<!-- Projects section end --> #}

					<!-- Modal -->
					<div id="pf-detail" class="modal fade" role="dialog">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4 class="modal-title"></h4>
					      </div>
					      <div class="modal-body">
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Sluit</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- end Modal -->

	<!-- Contact section start -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline">
					<h2>Contact</h2>
					<p>Ik hoor graag iets van u</p>
				</div>
				<div class="col-md-6">
					{% for flash_message in app.session.flashBag.get('notice') %}
						<div class="alert alert-success alert-dismissible">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							{{ flash_message|raw }}
						</div>
					{% endfor %}

			  		{{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
					{{ form_widget(form) }}
					{{ form_end(form) }}
	  			</div>
			  	<div class="col-md-6">
					<p>Heeft u of uw bedrijf nood aan een (nieuwe) website, speelt u met een idee voor een web applicatie, of wil u tijdelijk een beroep doen op een web developer met expertise in de PHP wereld, aarzel dan niet om dit formulier in te vullen. Ik ben benieuwd wat ik voor u kan betekenen.</p>
					<hr>
			  		<ul class="icon-list">
						<li><i class="fa fa-fw fa-map-marker"></i>2890 Sint-Amands, {% trans %}België{% endtrans %}</li>
						<li><i class="fa fa-fw fa-phone"></i>+32 479 55 14 04</li>
						<li><i class="fa fa-fw fa-envelope-o"></i>johan.dierinck@gmail.com</li>
						<li><i class="fa fa-fw fa-globe"></i><a href="http://www.jdierinck.be">www.jdierinck.be</a></li>
					</ul>
					<hr>
					<ul class="list-inline">
						<li><a href="https://github.com/jdierinck" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
						<li><a href="http://www.linkedin.com/in/johandierinck" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
						<li><a href="https://plus.google.com/u/0/106919255587203715806" target="_blank"><i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i></a></li>
					</ul>
			  	</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->

	<!-- Footer start -->
	<footer class="footer bg-black">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="small">&copy {{ "now"|date("Y") }} Johan Dierinck, alle rechten voorbehouden</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer end -->

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!-- Simple text rotator -->
	<script src="{{ asset('js/jquery.simple-text-rotator.js') }}"></script>
	<!-- Owl carousel -->
	<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
	<!-- Custom scripts -->
	<script src="{{ asset('js/customjs.js') }}"></script>
{% endblock %}

